<div class="d-flex">
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Lista
    </h3>

    <app-sidebar></app-sidebar>
  </div>

<!--CONTENIDO-->
  <div class="container">
    <div class="row p-3">

<!--INPUT DE BUSQUEDA-->      
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar...">
      </div>
<!--INPUT DE BUSQUEDA-->    
    </div>

<!--IMAGENES-->    
    <hr>
    <div class="row">
      <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vitae doloribus obcaecati quam, hic quaerat excepturi maiores, ab fugit nihil unde dolorum dolor molestiae temporibus consectetur dolorem voluptates commodi? Placeat?

      </div>
    </div>
<!--IMAGENES-->    
  </div>

<!--CONTENIDO--> 
  
</div>